{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="centered-content">
        <h1>BetaTrax - Product Owner</h1>
        <form action="{% url 'owner_defect' %}" method="get">
            <button type="submit" class="btn">Evaluate New Defect Report</button>
        </form>
        <form action="{% url 'owner_fixed_defects' %}" method="get">
            <button type="submit" class="btn">Close Fixed Defect</button>
        </form>
    </div>
</body>
</html>
